<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>twibble</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <h1>[*twibble]</h1>
      <nav>
        <a href="/user">Home</a>
        <a href="/user">Write a Twib</a>
        <a href="/logout">Logout</a>
      </nav>
    </header>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
