<article class="loginSection">
  <h2>LOGIN</h2>
  <form id="loginForm" action="/login" method="post">
    <input type="text" name="username" value="" placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Login</button>
  </form>
</article>
<aside class="signupSection">
  <h2>SIGN UP</h2>
  <form id="signupForm" action="/signup" method="post">
    <input type="text" name="display_name" value="" placeholder="Display Name">
    <input type="text" name="username" value="" placeholder="Username">
    <input type="password" name="password" value="" placeholder="Password">
    <button type="submit" name="button">Sign Up</button>
  </form>
</aside>
