<div class="viewTwib">
{{#twib}}
  <h3>{{Users.display_name}}:</h3>
  <p>{{post}}</p>
  <p>{{createdAt}}</p>
  <p>Likes: {{Likes.length}}</p>
  <h4>Here's who liked the twib:</h4>
  <ul>
    {{#Likes}}
      <li>{{userId}}</li>
    {{/Likes}}
    {{^Likes}}
      <p>No one liked this twib yet.</p>
    {{/Likes}}
  </ul>
{{/twib}}
</div>
