*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e6ecff;
  font-family: sans-serif;
}

header{
  align-items: center;
  background-color: #3366ff;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

h1{
  color: black;
  font-size: 60px;
  letter-spacing: 10px;
  margin: 5px auto;
}

nav{
  margin: 5px auto;
}

header a{
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  text-decoration: none;
}

.container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px auto;
}

main{
  margin: 30px auto;
  width: 45%;
}

.createTwib{
  padding: 25px;
}

.twibForm{
  display: table-caption;
}

.twibForm button{
  font-size: 12px;
  margin-top: 10px;
  padding: 10px;
}

.twibForm textarea{
  font-size: 14px;
  padding: 10px;
}

.each{
  border-bottom: 1px solid blue;
  padding: 15px;
}

.each p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.loginSection{
  margin-right: 20px;
}

.loginSection h2{
  padding: 15px;
}

#loginForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#loginForm input{
  padding: 8px;
  margin: 10px 0;

}

#loginForm button{
  padding: 8px;
  margin-top: 10px;
}

.signupSection{
  border-left: 1px solid black;
  padding-left: 20px;
}

.signupSection h2{
  padding: 15px;
}

#signupForm{
  display: flex;
  flex-direction: column;
  padding: 15px;
}

#signupForm input{
  padding: 8px;
  margin: 10px 0;
  width: 200px;
}

#signupForm button{
  padding: 8px;
  margin-top: 10px;
}

.viewTwib{
  margin-top: 40px;
  width: 45%;
}

.viewTwib h4, h3, p{
  padding-bottom: 20px;
}

.viewTwib h4{
  text-decoration: underline;
}

.problem{
  margin-top: 100px;
}

.problem h2{
  font-size: 36px;
  padding: 20px 0;
}

.problem p{
  padding: 20px 0 40px 0;
}
